@model BusTrackingSystem1.Models.drive

@{
    ViewBag.Title = "Create";
}

<h2 style="color: #2e5cb8">Add New</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="color:white">
       
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.driver_id, "driver name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("driver_id", String.Empty)
                @Html.ValidationMessageFor(model => model.driver_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bus_id, "bus id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bus_id", String.Empty)
                @Html.ValidationMessageFor(model => model.bus_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
