@model BusTrackingSystem1.Models.adminLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/AdminLoginLayout.cshtml";
}

<h2 style="color:#2e5cb8">Admin</h2>
@if (Session["adminId"] != null)
{
    <h4>Hello @Session["UserName"].ToString()</h4>
    // @Html.ActionLink("Logout", "Login", "AdminLogin");


}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="color:white">
        <h4>Login</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.admin_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.admin_name)
                @Html.ValidationMessageFor(model => model.admin_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.admin_password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.admin_password)
                @Html.ValidationMessageFor(model => model.admin_password)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="image" src="../../Content/login.png" alt="submit" width="108" height="58" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Search","Search")
</div>
<style>

    .bounce {
        width: 100px;
        height: 100px;
        animation-name: example;
        animation-duration: 8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        position: relative;
    }


    @@keyframes example {
        0% {
            left: 0px;
            top: 100px;
        }

        100% {
            left: 980px;
            top: 100px;
        }
    }

    #img {
        width: 200px;
        height: 100px;
    }
</style>
<div class="floor">
    <div class="bounce">
        <img src="../../Content/bus2.png" alt="bus" id="img" />
    </div>
</div>

