@model IEnumerable<BusTrackingSystem1.Models.bus>

@{
    ViewBag.Title = "Index";
}



<p style="padding-top: 60px; font-size: 20px;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="color:white">
    <tr>
        <th>

            @Html.Label("Bus Type")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company.company_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bus_type.bus_type_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company.company_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.bus_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.bus_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.bus_id })
            </td>
        </tr>
    }

</table>
