@model IEnumerable<BusTrackingSystem1.Models.driver>

@{
    ViewBag.Title = "Index";
}



<p style="padding-top: 60px; font-size: 20px;" >
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="color:white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.driver_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driver_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.driver_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.driver_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_birth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.driver_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.driver_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.driver_id })
        </td>
    </tr>
}

</table>
