@model BusTrackingSystem1.Models.complaint

@{
    ViewBag.Title = "Details";
}

<h2 style="color: #2e5cb8">Details</h2>

<div>
    <
	<hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.complaint1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complaint1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.route_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.route_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.complaint_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
